#Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^https://thebombgamer.github.io/[nc]
RewriteRule ^(.*)$ http://www.https://thebombgamer.github.io//$1 [r=301,nc]
# Caching schema
<FilesMatch "\.(css|js)$">
Header set Cache-Control "public, max-age=7200"
</FilesMatch>
# Custom 400 errors
ErrorDocument 400 /400
# Custom 401 errors
ErrorDocument 401 /401
# Custom 403 errors
ErrorDocument 403 /403
# Custom 404 errors
ErrorDocument 404 /404
# Custom 500 errors
ErrorDocument 500 /500
# Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>