@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
* {
    color: #fff;
    font-family: 'Kode Mono', monospace;
    padding: 0%;
    margin: 0%;
}
main {
    min-height: 85vh;
    background-color: #363636;
}
footer {
    text-align: center;
    background-color: #434343;
    padding: 1%;
}
nav {
    background-color: #434343; /* Dark background */
    padding: 15px; /* Space around the nav */
}

nav ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

nav ul li {
    background-color: transparent;
    display: inline; /* Display items in a row */
    margin-right: 20px; /* Space between items */
}

nav ul li a {
    color: white; /* White text */
    text-decoration: none; /* Remove underline */
}

nav ul li a:hover {
    text-decoration: underline; /* Underline on hover */
}
.background-image {
    width: 100%; /* Set width */
    min-height: 85vh;
    background-image: url('/img/background.jpg'); /* Set the background image */
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
}
.vd-1 {
    padding: 3%;
    margin: 0%;
    height: 40vh;
}
.ct-1 {
    padding: 0%;
    margin: 0%;
    text-decoration: underline;
}
.gc-1-container {
    display: flex; /* Enable flexbox */
    justify-content: space-around; /* Space out the items */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
}
.gc-1 {
    background-color: #363;
    text-decoration: none;
    padding: 15px;
    width: 15vw;
    margin-top: 1%;
    height: 15vw;
    max-width: 15vw;
    max-height: 15vw;
    border-radius: 15%;
    justify-content: center; /* Center horizontally */
    align-items: center;
}
.gt-1 {
    text-align: center;
    text-decoration: none;
    margin-top: 30%;
}
.img-1 {
    height: 7vw;
    align-self: center;
    justify-content: center;
}