@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
* {
    color: #fff;
    font-family: 'Kode Mono', monospace;
    padding: 0%;
    margin: 0%;
}
main {
    min-height: 85vh;
    background-color: #363636;
}
footer {
    text-align: center;
    background-color: #434343;
    padding: 1%;
}
nav {
    background-color: #434343; /* Dark background */
    padding: 15px; /* Space around the nav */
}

nav ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

nav ul li {
    background-color: transparent;
    display: inline; /* Display items in a row */
    margin-right: 20px; /* Space between items */
}

nav ul li a {
    color: white; /* White text */
    text-decoration: none; /* Remove underline */
}

nav ul li a:hover {
    text-decoration: underline; /* Underline on hover */
}
.background-image {
    width: 100%; /* Set width */
    min-height: 85vh;
    background-image: url('/img/background.jpg'); /* Set the background image */
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
}