@font-face {
    font-family: 'Knewave';
    src: url(/fonts/Knewave/font.ttf);
}
@font-face {
    font-family: 'Textur';
    src: url(/fonts/Tektur/Tektur-VariableFont_wdth\,wght.ttf);
}
*{color:#fff;font-family:'Textur',monospace;padding:0;margin:0;text-decoration:none;}
main{min-height:85vh;}
footer{text-align:center;background-color:#2C5364;padding:1%}
h1{font-size:5vh;
font-weight: 400;}
h2{font-size:4vh}
h3{font-size:3vh}
h4{font-size:2vh}
img {
  max-width: 100vw;
}
h5{font-size:1vh}
nav{background-color:#0F2027;padding:15px}
nav ul{list-style-type:none;margin:0;padding:0}
nav ul li{background-color:transparent;display:inline;margin-right:20px}
nav ul li a{color:#fff;text-decoration:none}
nav ul li a:hover{text-decoration:underline}
a{text-decoration:none}
.background-image{background:#0f2027;background:-webkit-linear-gradient(to top,#2c5364,#203a43,#0f2027);background:linear-gradient(to top,#2c5364,#203a43,#0f2027);width:100%;min-height:85vh}
.vd-1{padding:3%;margin:0;height:40vh}
.ct-1{padding:0;margin:0;text-decoration:none}
.tt-1{text-decoration: underline;}
.gc-1-container{text-align:center;display:flex;justify-content:space-around;flex-wrap:wrap}
.gc-1{background-color:#525252;text-decoration:none;padding:15px;width:15vw;margin-top:1vh;height:15vw;max-width:15vw;max-height:15vw;border-radius:10%;}
.gt-1{text-align:center;text-decoration:none;}
.img-1{height:7vw;align-self:center;justify-content:center}
         button {background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%)}
         button {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            border-width: .5px;
            border-radius: 5px;
            color: white;            
            display: block;
         }
          button:hover {
            background-position: right center;
            color: #fff;
            text-decoration: none;
          }
.img-2 {
  width: 95vw;
  background-color:#525252;
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 15px;
  padding-right: 2px;
  margin-right: 0;
}
.b-1 {
  display: inline-block;
}
.cover {
  margin-top: 10px;
  align-content: center;
  width: 12vw;
  border-radius: 20px;
}